		
<h1 class="about-name">Katherine Stack</h1>

<div class="about">

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse molestias, error delectus eum, excepturi modi deleniti aperiam, veritatis reprehenderit minus ullam amet beatae et veniam accusamus a repellat voluptatibus quia. Iure modi, quas velit maxime dolorum <br><br>voluptatibus tempore minus minima?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione assumenda deleniti repudiandae, quas rerum harum repellendus. Accusantium unde hic nam laborum molestiae, dolores quidem, ea in. Voluptas, rem neque ipsam, sapiente voluptatibus incidunt. Maiores quis nis velit illum vero <br><br>neque modi dolore ipsum eius excepturi nihil cupiditate perspiciatis molestias, esse fuga sit ipsam id perferendis aliquam quia numquam. Distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae sed dolore iste accusamus veniam debitis in eos, totam molestiae consequuntur aperiambr</p>




<div class="about-image">
	<img src="/assets/about_skart.jpg" alt='Katie Stack' />
</div>


<div class="contact-form">
	<p>Please feel free to contact me with any questions or comments and I'll get back to you as fast as I can! Thanks for visiting!</p><br>
	<%= form_for @comment do |f| -%>
		<%= f.text_field :name, :required => true, :placeholder => "Name" %><br><br>
		<%= f.text_field :email, :required => true, :placeholder => "Email" %><br><br>
		<%= f.text_field :comment, :required => true, :placeholder => "Comment" %><br><br>
		<%= f.submit "Send it my way!", :class => 'submit-button' %>
	<% end -%>
</div>





<!-- 		<div class="contact-form">
			<form id="contact-form" method="post" action="">
				<input name="name"	type="text" class="form-control" placeholder="Your Name" required><br>

				<input name="email"	type="email" class="form-control" placeholder="Your Email" required><br>

				<textarea name="comment"  class="form-control" placeholder="Comment" rows="4" required></textarea><br>

				<input type="submit" class="form-control submit" value="SEND MESSAGE">
			</form><br>
		</div> -->